﻿@{
    ViewData["Title"] = "Home Page";
}

@model MaritimeCodeExercise.ViewModels.FilesViewModel

<div class="container">
    <form>
        <div class="form-row">
            <div class="col">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="fileUpload" accept=".csv">
                    <label class="custom-file-label" for="fileUpload">Choose file...</label>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </form>

    <div class="mt-2">
        <hr />
    </div>

    <div class="mt-2">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">File Name</th>
                <th scope="col">Date Created</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var file in Model.Files)
            {
                <tr>
                    <th scope="row">@file.Id</th>
                    <td>@file.FileName</td>
                    <td>@file.DateCreated</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="mt-2">
        <hr />
    </div>

    <div class="mt-2 ml-3 mr-3">
        <div class="row" id="calculateButtons">

        </div>
        <div class="row">
            <label for="interval"><span class="font-weight-bold">Interval</span><br/><span id="intervalText"></span></label>
            <input type="range" class="form-control-range" id="interval" value="10" min="1" max="20" step="1" disabled="disabled" />
        </div>
        <div class="form-row mt-2 ml-1">
            <input type="checkbox" class="form-check-input" id="specifyNumberOfBins" disabled="disabled">
            <label class="form-check-label" for="specifyNumberOfBins">Specify the number of bins</label>
        </div>
        <div class="row mt-2" style="display: none;">
            <label for="numberOfBins"><span class="font-weight-bold">Number of Bins: </span><span id="numberOfBinsValue"></span></label>
            <input type="range" class="form-control-range" id="numberOfBins" value="10" min="1" max="20" step="1" disabled="disabled" />
        </div>
    </div>

    <div class="mt-2">
        <hr />
    </div>

    <div class="mt-2 ml-3 mr-3" id="results">
        <div class="row">
            <p><span class="font-weight-bold">Mean:</span> <span id="meanContainer"></span></p>
        </div>
        <div class="row">
            <p><span class="font-weight-bold">Standard Deviation:</span> <span id="standardDeviationContainer"></span></p>
        </div>
        <div class="row">
            <p><span class="font-weight-bold">Frequencies:</span></p>
        </div>
        
        <div class="row" id="frequenciesContainer">
        </div>
    </div>
</div>